@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    background: rgb(26, 25, 25);
    padding: 20px 0;
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color: #fff;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

ul a {
    padding: 0 15px;
    text-transform: capitalize;
    text-decoration: none;
}

ul a:hover {
    color: rgb(190, 190, 253);
}

.current {
    color: rgb(1, 196, 131);
    font-weight: bold;
}

.nav.active {
    background: rgb(0, 170, 113);
    padding: 10px 0;
}

.nav.active a {
    color: rgb(255, 255, 255);
}

.nav.active a:hover {
    color: rgb(1, 1, 102);
}

.nav.active .current {
    color: rgb(15, 75, 55)
}

.hero {
    background-image: url('61698988_298241764413630_6082625301269970944_o.jpg');
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}

.hero h1 {
    color: rgb(0, 170, 113);
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    color: rgb(9, 77, 60);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.container p {
    margin: 5vh;
}

h2 {
    margin-left: 1vh;
    margin-bottom: 10px;
}

.nav h1 a {
    margin-left: 10px;
}

.hero2 {
    background-image: url('road_bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}

.hero2 h1 {
    color: rgb(0, 170, 113);
    font-size: 50px;
    margin-bottom: 10px;
}

.hero2 p {
    color: rgb(9, 77, 60);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}